@font-face {
  font-family: "pixel code thin";
  src: url("fonts/PixelCode-Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "pp mondwest";
  src: url("fonts/PPMondwest-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "pp mondwest";
  src: url("fonts/PPMondwest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
:root{
  --fg: #f0f6f0;
  --bg: #222323;
  --title: "pp mondwest", monospace;
  --body: "pixel code thin", "jgs", monospace;
  --fontsize: 13px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body);
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--fg);
  border-radius: 4px;
  font-size: var(--fontsize);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--fg);
  z-index: 5;
  border-radius: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr; /* mobile par défaut */
  gap: 8px;
  padding: 8px;
}

@media (min-width: 600px) {
  main { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1024px) {
  main { grid-template-columns: repeat(3, 1fr); } /* FHD */
  .item { height: 260px !important; }
}
@media (min-width: 1600px) {
  main { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 2200px) {
  main { grid-template-columns: repeat(5, 1fr); } /* 4K+ */
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  border: solid 1px var(--fg);
  overflow: hidden;
  height: 200px; /* hauteur fixe pour toutes les cases */
}

.item img, .item video {
  flex: 1 1 50%;
  min-width: 0;
  width: 100%;
  height: 100%;   /* prend toute la hauteur de .item */
  object-fit: contain;
  filter: url(#duotone); /* effet duotone sur les images avec --fg: #222323; --bg: #f0f6f0;*/
  background-color: transparent;
}

.item img:hover, .item video:hover {
  filter: unset;
  /* object-fit:cover; */
}

.item p {
  flex: 1 1 50%;
  min-width: 0;
  text-align: left;
}

pre {
  /*line-height: 1;*/
  /* text-align: left; */
  font-family: monospace;
  font-size: min(2vw, 13px);
  white-space: pre;
  overflow-x: hidden;
}

footer {
  padding: 8px;
  /* text-align: right; */
  font-family: monospace;
}

h1 {
  color: var(--fg);
  font-family: var(--title);
  font-weight: 700;
  font-size: 2.6244rem;
}
b {
  font-weight: inherit; /* désactive le bold des titres */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--fg) var(--bg);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--fg);
  border: 2px solid var(--bg); /* crée un effet de "padding" autour du thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fg);
}